<div class="card sensor-card" id="<%= sensor.name %>">
  <h4 class="card-header"><%= sensor.friendly_name %></h4>
  <p class="temp"><span class="temp_value"><%= sensor.last_temp %></span> ºF</p>
  <div class="card-block">
    <p class="card-text"><%= sensor.description %>.</p>
    <span class="timestamp"><%= sensor.last_entry_time.strftime("%Y-%m-%d %H:%I:%S") %> </span>
  </div>
  <div class="card-footer text-muted">
    <span class="time_ago"><%= time_ago_in_words(sensor.last_entry_time )%> ago</span>
  </div>
</div>
