<div class="card sensor-card" id="<%= sensor.name %>">
  <h4 class="card-header"><%= sensor.friendly_name %></h4>
  <p class="temp"><span class="temp_value"><%= sensor.last_temp %></span> ºF</p>
  <div class="card-block">
    <p class="card-text"><%= sensor.description %>.</p>
    <p class="timestamp"><%= sensor.last_entry_time.strftime("%Y-%m-%d %H:%I:%S %Z") %> </p>
    <p>Highest: <%= sensor.highest_logged_temp %> ºF</p>
    <p>Lowest: <%= sensor.lowest_logged_temp %> ºF</p>
  </div>
  <div class="card-footer">
    <small class="text-muted time_ago"><%= time_ago_in_words(sensor.last_entry_time )%> ago</small>
  </div>
</div>
