<div class="card sensor-card" id="<%= sensor.name %>">

  <%= link_to toggle_sensor_path(sensor.id), class: 'close-card', method: :post do %>
    <span class="fa fa-times"></span>
  <% end %>

  <h4 class="card-header"><%= sensor.friendly_name %></h4>
  <ul class="temperature-info">
    <li class="heading">Latest Reading:</li>
    <li class="temperature-value"><span class="temp_value"><%= sensor.last_temp %></span> ºF</li>
    <li class="heading">Average Reading:</li>
    <li class="temperature-value"><span class="temp_value"><%= sensor.average_temp %></span> ºF</li>
  </ul>
  <div class="card-block">
    <p class="card-text"><%= sensor.description %>.</p>
    <p class="timestamp"><%= format_time(sensor.last_entry_time) %> </p>
    <p>Highest: <%= sensor.highest_logged_temp %> ºF</p>
    <p>Lowest: <%= sensor.lowest_logged_temp %> ºF</p>
  </div>
  <div class="card-footer">
    <small class="text-muted time_ago"><%= time_ago_in_words(sensor.last_entry_time)%> ago</small>
  </div>
</div>
