<div class="card card-block" id="<%= sensor.name %>">
  <h4 class="card-title"><%= sensor.name %></h4>
  <p class="card-text"><%= sensor.description %>.</p>
  <ul>
    <li>Latest Temp: <span class="temp"><%= sensor.last_temp %></span> ºF</li>
    <li class="time_ago"><%= time_ago_in_words(sensor.last_entry_time )%> ago</li>
    <li class="timestamp"><%= sensor.last_entry_time.strftime("%Y-%m-%d %H:%I:%S") %> </li>
  </ul>
</div>
